.DS_Store
node_modules/

**/cypress/videos/**
**/cypress/screenshots/**
**/cypress/logs

**/coverage
**/build
**/tmp
**/dist
**/pids
**/logs
dist-*

*.orig
*.log
*.log.*
*.aes
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.nyc_output
.tmp
.history
.publish
*.pid
*.seed
.serverless/
_test-output
cypress.zip

# from server
packages/server/.cy
packages/server/.projects
packages/server/support
packages/server/test/support/fixtures/server/imgs
packages/server/test/support/fixtures/server/libs
